.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #8b10fe;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: left;
  padding-bottom: 20px;
  font-family: 'Brush Script MT', cursive;
}

.brief_description {
  text-align: left;
  font-size: 18px;
  font-family: 'Brush Script MT', cursive;
}

.profile_image {
  width: 500px;
  height: auto;
}

li::marker{
  font-size: 22px;
}

li:nth-child(1){
  list-style-type: '🤗';
  padding-inline-start: 1ch;
}
li:nth-child(2){
  list-style-type: '🏫';
  padding-inline-start: 1ch;
}
li:nth-child(3){
  list-style-type: '🍲';
  padding-inline-start: 1ch;
}
li:nth-child(4){
  list-style-type: '🎮';
  padding-inline-start: 1ch;
}
li:nth-child(5){
  list-style-type: '🏸';
  padding-inline-start: 1ch;
}

li:nth-child(6){
  list-style-type: '💼';
  padding-inline-start: 1ch;
}